In [21]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder

In [31]:
df = pd.read_csv("hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [32]:
df['test_score(out of 10)']=df['test_score(out of 10)'].fillna(df['test_score(out of 10)'].median())
df.experience = df.experience.fillna(df['experience'].mode()[0])
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0     eleven                    8.0                           9      50000
1     eleven                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [33]:
label_encoder = LabelEncoder()
df['experience_encoded'] = label_encoder.fit_transform(df['experience'])

In [34]:
df_new= df.drop('salary($)',axis='columns')
df_new

,experience,test_score(out of 10),interview_score(out of 10),experience_encoded
0,eleven,8.0,9,0
1,eleven,8.0,6,0
2,five,6.0,7,1
3,two,10.0,10,5
4,seven,9.0,6,2
5,three,7.0,10,4
6,ten,8.0,7,3
7,eleven,7.0,8,0

In [38]:
df_new = df_new.drop('experience',axis='columns')
df_new

   test_score(out of 10)  interview_score(out of 10)  experience_encoded
0                    8.0                           9                   0
1                    8.0                           6                   0
2                    6.0                           7                   1
3                   10.0                          10                   5
4                    9.0                           6                   2
5                    7.0                          10                   4
6                    8.0                           7                   3
7                    7.0                           8                   0

In [39]:
salary=df['salary($)']

In [40]:
reg = linear_model.LinearRegression()
reg.fit(df_new,salary)

LinearRegression()

In [43]:
reg.predict([[9.0,6,2]])

c:\users\acer\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([63853.11010632])

In [44]:
reg.predict([[10,10,12]])

c:\users\acer\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([83880.44319524])